@import url('https://fonts.googleapis.com/css2?family=Ruwudu&display=swap');
.info-bar{
    height: 30px;
    font-size: 15px;
}
.logo-img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.nav-link{
    font-family: 'Ruwudu', serif;
    font-weight: 400;
   
}
/* .nav-bar NavLink{
    color: white;   
}
.menu-bar{
    background-color: #00765c;
    
} */