@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
.footer{
        background-color: #6c757d;
        padding: 5px;  
        color: white;
}
.newsletter{
    font-family: 'Gloock', serif;
    font-size: 45px;
}
.newsletter-form input, .newsletter-form  button{
    border-radius: 0;
}