.product-details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px; 
    align-items: center; 
  }
  
  .similar-products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
  }
  
  .similar-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .similar-product img {
    max-width: 100%;
  }
  
  .similar-product p {
    margin: 0; 
    text-align: center;
    font-size: 14px;
  }
.product-thumbnails{
  border: 1px solid red;
  max-height: 150px;
  object-fit: cover;
}
.product-thumbnails img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.ksh{
  font-weight: bold;
}