.product-details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px; 
    align-items: center; 
  }
  
  .similar-products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
  }
  
  .similar-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .similar-product img {
    max-width: 100%;
  }
  
  .similar-product p {
    margin: 0; 
    text-align: center;
    font-size: 14px;
  }
.product-thumbnails{
  max-height: 150px;
  object-fit: cover;
  position: relative;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

.product-thumbnails:hover .text-overlay {
  display: block;
}
.product-thumbnails img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.ksh{
  font-weight: bold;
}