/* Product.css */

  #card-image{
    max-height: 220px;
    object-fit: contain;
  }
  #card-image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .ksh{
    font-weight: bold;
  }
